### lmport libraries

In [1]:
# Import libraries
import pandas as pd

### Data Processing

In [2]:
# Import excel file
df = pd.read_excel("G:\Job Prepartion\My_Projects\Python projects\Amazon_Data\Amazon_Laptops_Raw_Data.xlsx")

<>:2: SyntaxWarning: invalid escape sequence '\J'
<>:2: SyntaxWarning: invalid escape sequence '\J'
C:\Users\amit5\AppData\Local\Temp\ipykernel_21252\3561765938.py:2: SyntaxWarning: invalid escape sequence '\J'
  df = pd.read_excel("G:\Job Prepartion\My_Projects\Python projects\Amazon_Data\Amazon_Laptops_Raw_Data.xlsx")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 220 entries, 0 to 219
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Names    220 non-null    object
 1   Reviews  215 non-null    object
 2   Price    220 non-null    int64
dtypes: int64(1), object(2)
memory usage: 5.3+ KB

In [4]:
df.head()

,Names,Reviews,Price
0,"Apple 2025 MacBook Air (13-inch, Apple M4 chip...",4.2 out of 5 stars,99900
1,"Apple 2024 MacBook Air (13-inch, Apple M3 chip...",4.7 out of 5 stars,98990
2,"Lenovo IdeaPad Slim 3, Intel Core i5-12450H, 1...",3.9 out of 5 stars,49990
3,"ASUS TUF Gaming A15, 15.6"" (39.62cm) FHD 16:9 ...",3.9 out of 5 stars,58990
4,"Lenovo V15 AMD Ryzen 3 7320U 15.6"" (39.62cm) F...",3.0 out of 5 stars,25990

In [5]:
df.columns

Index(['Names', 'Reviews', 'Price'], dtype='object')

In [6]:
# Create new column "Brand" and extracting data from 'Names' column
df['Brand'] = df['Names'].str.split().str[0]

In [7]:
# Create new column 'Processor'
import re

def extract_processor(text):
    match = re.search(r"(Apple M\d|Ryzen \d \d{4}[A-Z]*)", text)
    return match.group(0) if match else "Unknown"

df['Processor'] = df['Names'].apply(extract_processor)

In [8]:
# Create new column 'Storage'
def extract_storage(text):
    match = re.search(r"(\d{3,4}GB|1TB)", text)
    return match.group(0) if match else "Unknown"

df['Storage'] = df['Names'].apply(extract_storage)

In [9]:
# Create new column 'Ram'
def extract_ram(text):
    match = re.search(r"(\d{1,2}GB)", text)
    return match.group(0) if match else "Unknown"

df['Ram'] = df['Names'].apply(extract_ram)

### Data Cleaning

In [10]:
# Check null values
df.isnull().sum()

Names        0
Reviews      5
Price        0
Brand        0
Processor    0
Storage      0
Ram          0
dtype: int64

In [11]:
#  Fill all the null values of "Reviews" column with "0"
df['Reviews'] = df['Reviews'].fillna(0)

In [12]:
# Change the data type of 'Review' column and replace unnecessary text
df["Reviews"] = df['Reviews'].str.replace(" out of 5 stars", "").astype(float)

In [13]:
# Remove all the rows where 'price' is >10,000
df = df[df['Price'] >= 10000]

In [14]:
df.to_excel("G:\Amazon_Laptops_cleaned_data.xlsx", index=False)

<>:1: SyntaxWarning: invalid escape sequence '\A'
<>:1: SyntaxWarning: invalid escape sequence '\A'
C:\Users\amit5\AppData\Local\Temp\ipykernel_21252\204628050.py:1: SyntaxWarning: invalid escape sequence '\A'
  df.to_excel("G:\Amazon_Laptops_cleaned_data.xlsx", index=False)