### 1> lmport libraries

In [1]:
# Import libraries
import pandas as pd
import numpy as np

### 2> Data Processing

In [2]:
# Import excel file
df = pd.read_excel(r"G:\Job Prepartion\My_Projects\Python projects\Amazon_Data\Amazon_Laptops_Raw_Data.xlsx")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 220 entries, 0 to 219
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Names    220 non-null    object
 1   Reviews  215 non-null    object
 2   Price    220 non-null    int64
dtypes: int64(1), object(2)
memory usage: 5.3+ KB

In [4]:
df.head()

,Names,Reviews,Price
0,"Apple 2025 MacBook Air (13-inch, Apple M4 chip...",4.2 out of 5 stars,99900
1,"Apple 2024 MacBook Air (13-inch, Apple M3 chip...",4.7 out of 5 stars,98990
2,"Lenovo IdeaPad Slim 3, Intel Core i5-12450H, 1...",3.9 out of 5 stars,49990
3,"ASUS TUF Gaming A15, 15.6"" (39.62cm) FHD 16:9 ...",3.9 out of 5 stars,58990
4,"Lenovo V15 AMD Ryzen 3 7320U 15.6"" (39.62cm) F...",3.0 out of 5 stars,25990

In [5]:
df.columns

Index(['Names', 'Reviews', 'Price'], dtype='object')

In [6]:
# Create new column "Brand" and extracting data from 'Names' column
df['Brand'] = df['Names'].str.split().str[0]

In [7]:
# Create new column 'Processor'
import re

def extract_processor(text):
    match = re.search(r"(Apple M\d|Ryzen \d \d{4}[A-Z]*)", text)
    return match.group(0) if match else "Unknown"

df['Processor'] = df['Names'].apply(extract_processor)

In [8]:
# Create new column 'Storage'
def extract_storage(text):
    match = re.search(r"(\d{3,4}GB|1TB)", text)
    return match.group(0) if match else "Unknown"

df['Storage'] = df['Names'].apply(extract_storage)

In [9]:
# Create new column 'Ram'
def extract_ram(text):
    match = re.search(r"(\d{1,2}GB)", text)
    return match.group(0) if match else "Unknown"

df['Ram'] = df['Names'].apply(extract_ram)

### 3>  Data Cleaning

In [10]:
# Check null values
df.isnull().sum()

Names        0
Reviews      5
Price        0
Brand        0
Processor    0
Storage      0
Ram          0
dtype: int64

In [11]:
# Change two column name 
df.rename(columns={'Storage': 'Storage_GB'}, inplace=True)
df.rename(columns={'Ram': 'Ram_GB'}, inplace=True)

In [12]:
df

,Names,Reviews,Price,Brand,Processor,Storage_GB,Ram_GB
0,"Apple 2025 MacBook Air (13-inch, Apple M4 chip...",4.2 out of 5 stars,99900,Apple,Apple M4,256GB,16GB
1,"Apple 2024 MacBook Air (13-inch, Apple M3 chip...",4.7 out of 5 stars,98990,Apple,Apple M3,256GB,16GB
2,"Lenovo IdeaPad Slim 3, Intel Core i5-12450H, 1...",3.9 out of 5 stars,49990,Lenovo,Unknown,512GB,16GB
3,"ASUS TUF Gaming A15, 15.6"" (39.62cm) FHD 16:9 ...",3.9 out of 5 stars,58990,ASUS,Ryzen 7 7435HS,512GB,12GB
4,"Lenovo V15 AMD Ryzen 3 7320U 15.6"" (39.62cm) F...",3.0 out of 5 stars,25990,Lenovo,Ryzen 3 7320U,512GB,8GB
...,...,...,...,...,...,...,...
215,"Tabelito Laptop Sleeve Bag 13"" to 15.6 inch fo...",4.5 out of 5 stars,499,Tabelito,Unknown,Unknown,Unknown
216,Arctic Fox Pureview Transparent Wireless and B...,4.3 out of 5 stars,649,Arctic,Unknown,Unknown,Unknown
217,Kreo Tundra 5 Fans RGB Laptop Cooling Pad with...,4.2 out of 5 stars,1999,Kreo,Unknown,Unknown,Unknown
218,Dell Vostro 15 3520 Laptop - 15.6 inch (39.62c...,3.8 out of 5 stars,48490,Dell,Unknown,Unknown,Unknown
219,Acer ALG Intel Core i5-13th Gen 13420H Process...,4.0 out of 5 stars,67999,Acer,Unknown,Unknown,6GB

In [13]:
# Replace  'GB' and 'Unknown' word from column "Ram_GB" 
df.loc[:, 'Ram_GB'] = df['Ram_GB'].str.replace('GB', '', regex=False)
df.loc[:, 'Ram_GB'] = df['Ram_GB'].str.replace('Unknown', '0', regex=False)

In [14]:
# Replace 'TB', 'GB' and 'Unknown' word from column "Storage"
df.loc[:, 'Storage_GB'] = df['Storage_GB'].str.replace('GB', '', regex=False)
df.loc[:, 'Storage_GB'] = df['Storage_GB'].str.replace('TB', '', regex=False)
df.loc[:, 'Storage_GB'] = df['Storage_GB'].str.replace('Unknown', '0', regex=False)

In [15]:
cols_to_convert = ['Storage_GB', 'Ram_GB']

for col in cols_to_convert:
    # Replace non-numeric characters and extract numbers only
    df[col] = df[col].astype(str).str.replace(r'\D', '', regex=True)  # \D removes all non-digits
    df[col] = pd.to_numeric(df[col], errors='coerce').fillna(0).astype(int)  # Coerce to numeric and replace NaN with 0

In [16]:
df[['Storage_GB','Storage_GB']].dtypes

Storage_GB    int64
Storage_GB    int64
dtype: object

In [17]:
# df['Storage_GB'].unique()
# df['Ram_GB'].unique()

In [18]:
average = df["Storage_GB"].mean()
print(average)

194.38181818181818

In [19]:
# Fill all the missing values from "Reviews" with 0
df['Reviews'] = df['Reviews'].fillna(0)

In [20]:
# Change the data type of 'Review' column and replace unnecessary text
df["Reviews"] = df['Reviews'].str.replace(" out of 5 stars", "").astype(float)

In [21]:
# Remove all the rows where 'price' is >10,000
df = df[df['Price'] >= 10000]

In [22]:
df.to_csv(r"G:\Job Prepartion\My_Projects\Python projects\Amazon_Data\Amazon_Laptops_cleaned_data.csv", index=False)